@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>RTA Street Harassment Reporting App</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="~/Content/animate.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.css" />

    <link href="~/Content/dark-theme.css" rel="stylesheet" />
    <link href="~/Content/makeitresponsive.css" rel="stylesheet" />
    <link href="~/Content/leaflet.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</head>
<body>
    <div class="map" id="map"></div>
    <div class="sidepanel">
        <div class="wrapper">
            <h1>RTA Street Harassment Reporting App</h1>
            <h3>What Do We Do?</h3>
            <p>On this application, users are able to see where instances of crimes have occurred on their bus lines, both from reported crime data and eye-witness accounts in real-time. Users can also place their own reports. </p>
            <p>We seek to help bus riders ride with more confidence.</p>
            
            <ul class="list-inline text-center">
                <li>
                    <a href="#" class="btn btn-default btn-lg"><span class="network-name">Report</span></a>
                </li>
                <li>
                    <a href="#" class="btn btn-default btn-lg"><span class="network-name">About Us</span></a>
                </li>
                <li>
                    <a href="#" class="btn btn-default btn-lg"><span class="network-name">Contact Us</span></a>
                </li>
            </ul>

        </div>
    </div>
   
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&v=3.8"></script>
    <script src="http://libs.cartocdn.com/cartodb.js/v3/cartodb.js"></script>
    <script src="~/Scripts/leaflet-0.7.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script type="text/javascript">
        cartodb.createVis('map', 'https://indirasam.cartodb.com/api/v2/viz/d49407fe-93bb-11e5-b838-0e5db1731f59/viz.json');
    </script>

</body>
</html>
